@import 'styles/variables';

.container {
  border: 2px solid #dddddd;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  padding-bottom: 0;
  margin-bottom: 20px;
  transition: border 0.2s;

  &.open {
    border-color: $primary;
    .body {
      padding-bottom: 20px;
      max-height: 400px;
    }

    .vertical {
      transform: rotate(90deg);
    }
    .horizontal,
    .vertical {
      background-color: #bdc6cd;
    }
  }
}

.header {
  display: grid;
  grid-template-columns: 16px 1fr;
  gap: 8px;
  padding: 20px 48px 20px 12px;
  cursor: pointer;
}

.icon {
  margin-top: 4px;
  height: 12px;
  width: 12px;
  position: relative;
}

.title {
  color: #0e1317;
}

.horizontal,
.vertical {
  background-color: $primary;
  transition: all 0.2s;
}

.horizontal {
  height: 2.4px;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.vertical {
  width: 2.4px;
  height: 100%;
  margin: auto;
}

.body {
  padding-right: 48px;
  padding-left: 40px;
  max-height: 0px;
  transition: all 0.4s;
  color: #595159;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 20px 48px 20px 20px;
  }

  .icon {
    height: 14px;
    width: 14px;
  }

  .horizontal {
    height: 3px;
  }

  .vertical {
    width: 3px;
  }
}
