@import 'styles/variables';

.section {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
  position: relative;
}

.textContainer {
  font-family: 'Raleway', sans-serif;
  background-color: #f5f6ff;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 136px 16px 48px;
  border-bottom-right-radius: 120px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.imageContainer {
  display: none;
  width: 50%;
  img {
    max-width: 100%;
    height: auto;
  }
}

.greeting {
  color: $black;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}

.name {
  color: $dark;
  font-size: 2.7rem;
  font-weight: 800;
  margin: 0;
  margin-bottom: 12px;
}

.title {
  color: $black;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  margin-bottom: 24px;
}

.logo {
  display: inline-block;
  width: 18px;
  margin-right: 8px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.description {
  font-family: 'Roboto', sans-serif;
  color: $paragraph;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
}

.buttonsContainer {
  font-family: 'Roboto', sans-serif;
  padding-right: 40px;
  display: inline-flex;
  flex-direction: column;
  a {
    margin: 4px 0;
  }
}

@media only screen and (min-width: 480px) {
  .description {
    max-width: 480px;
  }
  .buttonsContainer {
    flex-direction: row;
    a {
      margin: 32px 16px 0 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .textContainer {
    padding: 136px 40px 48px;
  }
  .imageContainer {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  .imageContainer {
    width: 40%;
  }
}

@media only screen and (min-width: 1400px) {
  .imageContainer {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-36%, -50%);
    width: 480px;
  }
  .section {
    padding: 0 120px;
  }

  .textContainer {
    width: 60%;
    padding: 200px 132px 160px 132px;
    margin-left: 60px;
    border-bottom-right-radius: 100vh;
    border-bottom-left-radius: 100vh;
  }

  .greeting {
    font-size: 1.4rem;
  }

  .name {
    font-size: 3.6rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
    max-width: none;
  }
}
