@import 'styles/variables';

.button {
  width: fit-content;
  color: $white;
  background-color: $primary;
  padding: 12px 40px;
  border-top-right-radius: 100vh;
  border-bottom-right-radius: 100vh;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s;
  border: 2px solid $primary;
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  &.block {
    width: 100%;
  }
  svg {
    transition: transform 0.2s;
  }
  &:hover {
    color: $primary;
    background-color: $white;
    svg {
      transform: translateX(8px);
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
  .button {
    padding: 12px 24px;
  }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
}
