@import 'styles/variables';

.container {
  text-align: center;
  padding: 0 24px;
}

.title {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #4758fc;
  margin-bottom: 16px;
}

.primary {
  color: #030203;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2.2rem;
  max-width: 480px;
  margin: 0 auto 16px;
}

.secondary {
  font-size: 1rem;
  color: $paragraph;
  max-width: 520px;
  margin: auto;
}

@media only screen and (min-width: 480px) {
  .secondary {
    font-size: 1rem;
  }
}
