@import 'styles/variables';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $white;
  border: 2px solid $primary;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  transition: color 0.2s, background-color 0.2s;
  cursor: pointer;
  &:hover {
    background-color: $white;
    color: $primary;
  }
  &.dark {
    color: $black;
    transform: rotate(90deg);
    &:hover {
      color: $primary;
      background-color: $black;
    }
  }
}
