@import 'styles/variables';

.section {
  background-color: $background;
  padding: 60px 0px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.sliderContainer {
  margin-top: 60px;
}

@media only screen and (min-width: 1024px) {
  .section {
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    padding: 60px 0px;
  }
}
