@import 'styles/variables';

.section {
  background-color: $background;
  padding: 60px 0px;
  border-top-left-radius: 100px;
}

.accordionContainer {
  margin-top: 40px;
  padding: 0 12px;
}

@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
  .section {
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
  }
}
