@import 'styles/variables';

%input-active {
  & ~ label {
    font-weight: 700;
    font-size: 0.8rem;
    top: -12px;
    left: 2px;
    color: $primary;
  }

  & ~ span::before {
    width: 100%;
  }
}

.formGroup {
  position: relative;
  margin: 30px 0;
  border-bottom: 2px solid #d4d4d4;

  &.active {
    & input,
    & textarea {
      @extend %input-active;
    }
  }

  & input,
  & textarea {
    width: 100%;
    padding: 8px 8px;
    font-size: 1rem;
    border: none;
    background: none;
    outline: none;
    resize: vertical;

    &:focus {
      @extend %input-active;
    }
  }

  & label {
    position: absolute;
    top: 8px;
    left: 8px;
    color: #696969;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.3s;
  }

  & span::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background: $primary;
    transition: all 0.3s;
  }
}

@media only screen and (min-width: 1024px) {
  .formGroup {
    margin: 40px 0;
  }
}
