.section {
  padding: 120px 24px 0;
  position: relative;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  position: relative;
}

.bgLine {
  z-index: -1;
  position: absolute;
  top: 24%;
}

.bgShape1,
.bgShape2 {
  display: none;
  z-index: -1;
  position: absolute;
  img {
    max-width: 100%;
    height: auto;
  }
}
.bgShape1 {
  top: 24%;
  left: 0;
  transform: translateX(-50%);
  width: 280px;
}

.bgShape2 {
  bottom: 10%;
  right: 0;
  transform: translateX(30%) rotate(180deg) scaleX(-1);
  position: absolute;
  width: 120px;
}

@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
  .bgShape1,
  .bgShape2 {
    display: block;
  }
  .bgLine {
    top: 4%;
  }
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1200px) {
  .bgLine {
    transform: rotate(90deg);
    top: -60%;
    left: 33%;
  }
}
