@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .transition-trans {
    transition: transform 0.3s;
  }

  .shadow-bottom {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  }

  .transform-dots {
    transform: translate(-40%, -190%);
  }

  .border-footer {
    border-bottom: 1px solid rgba(103, 103, 103, 0.24);
  }

  .border-footer-lg {
    border-bottom: 1px solid rgb(103, 103, 103);
  }

  .shadow-service {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
  }

  .border-service {
    border-bottom: 8px solid #c5c5c5;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  .shadow-testimonial {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  }

  @variants responsive {
    .transform-avatar {
      transform: translate(80%, -50%);
    }
  }
}
